In [3]:
import pandas as pd

In [4]:
df_help = pd.read_csv('./Data/Help_prediction_v0_jaws.csv')
print(len(df_help))

3766

In [5]:
df_answer = pd.read_csv('./Data/Answer_prediction_v0_jaws.csv')
print(len(df_answer))
df_answer = df_answer[df_answer.Tag == 'Answer']
print(len(df_answer))

18079
10915

In [6]:
df_help.head()

,ID,Title,Original_post,Tag
0,1,": a history of jaws and windows, was: training...",": a history of jaws and windows, was: training...",Help
1,2,?luck with kindle?,?luck with kindle? has anyone had any luck usi...,Junk
2,3,?luck with kindle?,?luck with kindle? anyone have any luck using ...,Junk
3,15,?luck with kindle? and codex,"?luck with kindle? and codex curtis, thank y...",Junk
4,16,1 good person offered to help people on this l...,1 good person offered to help people on this l...,Help

In [7]:
df_answer.head()

,ID,Title,Original_post,Tag
0,4,?luck with kindle?,no i never had any success with the ap for pc!...,Answer
11,18,"19 folders total, but can only view about 8 of...",is your window maximized? dave orego...,Answer
12,19,"19 folders total, but can only view about 8 of...","no. it s restored, and i can t seem to maximiz...",Answer
13,20,"19 folders total, but can only view about 8 of...","ashleigh, you can try to maximize wi...",Answer
14,21,"19 folders total, but can only view about 8 of...",hello; i hope i m understanding your question...,Answer

In [8]:
df = df_help
df = df.append(df_answer, ignore_index=True)
df.reset_index(inplace = False) 
len(df)

14681

In [9]:
df.sort_values(['ID']).head(10)

,ID,Title,Original_post,Tag
0,1,": a history of jaws and windows, was: training...",": a history of jaws and windows, was: training...",Help
1,2,?luck with kindle?,?luck with kindle? has anyone had any luck usi...,Junk
2,3,?luck with kindle?,?luck with kindle? anyone have any luck using ...,Junk
3766,4,?luck with kindle?,no i never had any success with the ap for pc!...,Answer
3,15,?luck with kindle? and codex,"?luck with kindle? and codex curtis, thank y...",Junk
4,16,1 good person offered to help people on this l...,1 good person offered to help people on this l...,Help
5,17,"19 folders total, but can only view about 8 of...","19 folders total, but can only view about 8 of...",Help
3767,18,"19 folders total, but can only view about 8 of...",is your window maximized? dave orego...,Answer
3768,19,"19 folders total, but can only view about 8 of...","no. it s restored, and i can t seem to maximiz...",Answer
3769,20,"19 folders total, but can only view about 8 of...","ashleigh, you can try to maximize wi...",Answer

In [ ]:
add_help = {}

for index, row in df_answer.iterrows():
    title = row[1]
    add_help[title] = True

In [ ]:
def re_assign_help_tag(row):
    title = row[1]
    if title in add_help:
        return 'Help'

In [ ]:
print(len(df_help[df_help.Tag == 'Help']))
df_help['Tag'] = df_help.apply(re_assign_help_tag, axis=1)
print(len(df_help[df_help.Tag == 'Help']))

In [10]:
df.to_csv('./Data/jaws_all_classified.csv', index=False)

In [ ]:
print(len(df))
df = df[df.Tag!='Junk']
print(len(df))

In [ ]:
df['Title'] = df['Title'].str.strip()
df.Original_post = df.Original_post.replace('\s+', ' ', regex=True)

In [ ]:
df.tail()

In [ ]:
df.to_csv('./Data/to_es_v4.csv', index=False)